---
import Layout from "../../layouts/Layout.astro";
const email = "j.jujaroen96@gmail.com";
const linkedInUrl = "https://www.linkedin.com/in/jomkit-jujaroen/";
const github = "https://github.com/Jomkit"
---
<Layout title="Contact">
        <h1 class="mt-6">Contact</h1>
        <div class="flex flex-col gap-y-4 pb-8">
            <div id="blurb" class="m-auto bg-indigo-800 text-white p-12 rounded space-y-4">
                <h3>Let's connect!</h3>
                <p>If you have any questions or would like to get in touch, feel free to reach out to me via email or LinkedIn.</p>
                <hr />
                <p>Email: {email}</p>
                <p>LinkedIn: <a class="hover:underline" href={linkedInUrl} target="_blank">{linkedInUrl}</a></p>
                <p>Github: <a class="hover:underline" href={github} target="_blank">{github}</a></p>
            </div>
        </div>
</Layout>