---
import Layout2 from "./Layout2.astro";

const {frontmatter} = Astro.props;
---
<Layout2 title={frontmatter.title}>
    <div class="flex justify-center w-full lg:w-3/4">
        {frontmatter.image.src && 
            <img src={frontmatter.image.src} alt={frontmatter.image.alt} width="300"></img>
        }
    </div>
    <div class="grid grid-cols-3 items-center justify-between w-full lg:w-3/4 mt-6 text-slate-600">
        <div>
            <a href="/posts" class="bg-green-600 active:bg-green-700 text-white py-1 px-2 rounded m-1 lg:ml-0">Back</a>
        </div>
        <!-- <h1>{frontmatter.title}</h1> -->
        <div class="text-center">
            <p>Written by: {frontmatter.author}</p>
            <p>First Published: {frontmatter.pubDate.split('/').reverse().join('/')}</p>
        </div>
        <div></div>
    </div>

    <div class="bg-slate-200 p-4 lg:p-8 lg:px-20 rounded lg:w-3/4">
        <slot />
    </div>
</Layout2>

<style is:global>
    code {
		background: #f4f4f4;
		border: 1px solid #ddd;
		/* border-left: 3px solid #f36d33; */
		color: #666;
		/* page-break-inside: avoid; */
		font-family: monospace;
		font-size: .75rem;
		/* line-height: 1.6; */
		margin-bottom: 1.6em;
		/* max-width: 100%;
		overflow: auto; */
		padding: .5em .5em;
		/* display: block; */
		word-wrap: break-word;
        
        .block {
            border-left: 3px solid #f36d33 !important;
            page-break-inside: avoid;
            line-height: 1.6;
            width: 100%;
            overflow: auto;
            display: block;
        }
	}
</style>