---
import Layout from "./Layout.astro";

const {frontmatter} = Astro.props;
---
<Layout title={frontmatter.title}>
    <div class="flex justify-center w-full lg:w-3/4">
        {frontmatter.image.src && 
            <img src={frontmatter.image.src} alt={frontmatter.image.alt} width="300"></img>
        }
    </div>
    <div class="grid grid-cols-3 items-center justify-between w-full lg:w-3/4 mt-6 text-slate-600">
        <div>
            <a href="/posts" class="bg-green-600 active:bg-green-700 text-white py-1 px-2 rounded m-1 lg:ml-0">Back</a>
        </div>
        <!-- <h1>{frontmatter.title}</h1> -->
        <div class="text-center">
            <p>Written by: {frontmatter.author}</p>
            <p>First Published: {frontmatter.pubDate.split('/').reverse().join('/')}</p>
        </div>
        <div></div>
    </div>

    <div class="bg-slate-200 p-4 lg:p-8 lg:px-20 rounded lg:w-3/4">
        <slot />
    </div>
</Layout>
